# ðŸŽ“ Student Performance Analysis

Este anÃ¡lisis explora el rendimiento acadÃ©mico de estudiantes de secundaria en los Estados Unidos.

**Fuente de datos:** Kaggle  
**Objetivo:** Identificar patrones y factores que influyen en el rendimiento acadÃ©mico.

In [1]:
import pandas as pd
df = pd.read_csv('../data/students.csv')

df.columns = df.columns.str.lower().str.replace(' ', '_')

df.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [2]:
import pandas as pd

df = pd.read_csv('../data/students.csv')

df.columns = df.columns.str.lower().str.replace(' ', '_')

df.rename(columns={
    'race/ethnicity': 'ethnicity',
    'parental_level_of_education': 'parent_edu',
    'test_preparation_course': 'prep_course'
}, inplace=True)

df['average_score'] = df[['math_score', 'reading_score', 'writing_score']].mean(axis=1)

df.head()

,gender,ethnicity,parent_edu,lunch,prep_course,math_score,reading_score,writing_score,average_score
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333
2,female,group B,master's degree,standard,none,90,95,93,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333
4,male,group C,some college,standard,none,76,78,75,76.333333